@model IEnumerable<iSnippets.Models.Snippet>

@{
    ViewData["Title"] = "iSnippets";
}

<div class="jumbotron">
    <h1>iSnippets</h1> 
    <h3>Code Snippet Keeper</h3> 
</div>
<h3>
    Filter:
</h3>

<form>
  <p>
    <label for="DescSearch">Description:</label>
    <input type="text" name="DescSearch" />
  </p>
  <p>
    <label for="LangSearch">Language:</label>
    <input type="text" name="LangSearch" />
  </p>
  <input type="submit" value="Apply Filter" />
</form>

<h3>
    <a asp-action="Create">Add Snippet</a>
</h3>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.snipDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.snipText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.snipLang)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.snipDesc)
            </td>
            <td>
                <pre>@Html.DisplayFor(modelItem => item.snipText)</pre>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.snipLang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

